<div style="width: 100%;height: auto">
    <a href="javascript:void(0)"
       ref="downloadLink"
       style="text-overflow: ellipsis;overflow: hidden;word-break: break-all;white-space: nowrap;color:#1976d2"
    ></a>
</div>

