<div class="{{(ctx.component.type||'').toLowerCase()}}">
    {% if(ctx.data.submitId){ %}
    <table style="width: 100%">
        <tr>
            <td colspan="{{ ctx.data.maxTermRateLength+9 }}" style="text-align: end;padding: 8px 5px">编号:{{
                ctx.data.submitId }}
            </td>
        </tr>
        <tr>
            <th colspan="{{ ctx.data.maxTermRateLength+9 }}" style="text-align: center;padding: 8px 5px">基础信息</th>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;padding: 8px 5px">申请人</th>
            <td colspan="{{ (ctx.data.maxTermRateLength+9-6)%2==0?(ctx.data.maxTermRateLength+9-6)/2:(ctx.data.maxTermRateLength+9-6)/2+1 }}"
                style="padding: 8px 5px">{{ ctx.data.submitUser }}
            </td>
            <th colspan="3" style="text-align: center;padding: 8px 5px">申请所属团队</th>
            <td colspan="{{ (ctx.data.maxTermRateLength+9-6)%2==0?(ctx.data.maxTermRateLength+9-6)/2:(ctx.data.maxTermRateLength+9-6)/2+1 }}"
                style="padding: 8px 5px">{{ ctx.data.submitUserTeam }}
            </td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;padding: 8px 5px">电话</th>
            <td colspan="{{ (ctx.data.maxTermRateLength+9-6)%2==0?(ctx.data.maxTermRateLength+9-6)/2:(ctx.data.maxTermRateLength+9-6)/2+1 }}"
                style="padding: 8px 5px">{{ ctx.data.phoneNumber }}
            </td>
            <th colspan="3" style="text-align: center;padding: 8px 5px">邮件</th>
            <td colspan="{{ (ctx.data.maxTermRateLength+9-6)%2==0?(ctx.data.maxTermRateLength+9-6)/2:(ctx.data.maxTermRateLength+9-6)/2+1 }}"
                style="padding: 8px 5px">{{ ctx.data.emailAddress }}
            </td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;padding: 8px 5px">曲线所属实体</th>
            <td colspan="{{ ctx.data.maxTermRateLength+9-3 }}" style="padding: 8px 5px">{{ ctx.data.curveSource }}</td>
        </tr>
        <tr>
            <th colspan="{{ ctx.data.maxTermRateLength+9 }}" style="text-align: center;padding: 8px 5px">
                待发布曲线信息
            </th>
        </tr>
        <tr>
            <th colspan="1" style="text-align: center;padding: 8px 5px">序号</th>
            <th colspan="2" style="text-align: center;padding: 8px 5px">曲线名称</th>
            <th colspan="2" style="text-align: center;padding: 8px 5px">曲线类型</th>
            <th colspan="1" style="text-align: center;padding: 8px 5px">币种</th>
            <th colspan="{{ ctx.data.maxTermRateLength }}" style="text-align: center;padding: 8px 5px">期限价格</th>
            <th colspan="2" style="text-align: center;padding: 8px 5px">生效起始日</th>
            <th colspan="2" style="text-align: center;padding: 8px 5px">生效终止日</th>
        </tr>
        {% ctx.data.curveList.forEach(function(curve, index) { %}
        <tr>
            <td rowspan="2" colspan="1" style="text-align: center;padding: 8px 5px">{{ curve.id }}</td>
            <td rowspan="2" colspan="2" style="text-align: center;padding: 8px 5px">{{ curve.cvName }}</td>
            <td rowspan="2" colspan="2" style="text-align: center;padding: 8px 5px">{{ curve.cvType }}</td>
            <td rowspan="2" colspan="1" style="text-align: center;padding: 8px 5px">{{ curve.currency }}</td>
            {% for(var i = 0; i < ctx.data.maxTermRateLength; i++){ %}
            <td colspan="1" style="text-align: center;padding: 8px 5px">{{ curve.termRate[i]?curve.termRate[i].term:""
                }}
            </td>
            {% } %}
            <td rowspan="2" colspan="2" style="text-align: center;padding: 8px 5px">{{ curve.sDate }}</td>
            <td rowspan="2" colspan="2" style="text-align: center;padding: 8px 5px">{{ curve.eDate }}</td>
        </tr>
        <tr>
            {% for(var i = 0; i < ctx.data.maxTermRateLength; i++){ %}
            <td colspan="1" style="text-align: center;padding: 8px 5px">{{ curve.termRate[i]?curve.termRate[i].rate:""
                }}
            </td>
            {% } %}
        </tr>
        {% }) %}
        <tr>
            <th style="text-align: center;" colspan="3">备注</th>
            <td colspan="{{ ctx.data.maxTermRateLength+9-3 }}" style="padding: 40px 20px">{{ ctx.data.remark }}</td>
        </tr>
    </table>
    {% } %}
</div>
